<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS 사용하기 위한 선언  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--  Google 아이콘 사용하기 위한 선언 -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <!--  jQuery를 사용하기 위한 선언  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>프로필</title>

    <style>
        /* 프로필 화면 박스 */
        .box {
            width: 150px;
            height: 150px;
            border-radius: 70%;
            overflow: hidden;
        }

        /* 프로필 사진 */
        .profile {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        /* 모달창의 바깥 영역 */
        .modal_overlay {
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background: rgba(0, 0, 0, 0.8);
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            z-index: 10000;
        }

        /* 모달창의 영역 */
        .modal_window {
            background: white;
            backdrop-filter: blur(14px);
            -webkit-backdrop-filter: blur(14px);
            border-radius: 10px;
            border: 1px solid rgba(255, 255, 255, 0.18);
            width: 800px;
            height: 600px;
            position: relative;
            padding: 10px;
        }

        /*정유진: class profile_feed_mouse_over 와 feed_count 추가 */
        /*정유진: 게시물에 마우스 커서룰 올리기 전 상태.*/
        .profile_feed_mouse_over {
            background-color: rgba(0, 0, 0, 0);
        }

        /*정유진: 게시물에 마우스 커서를 올리면 밝기가 낮아진다.*/
        .profile_feed_mouse_over:hover {
            background-color: rgba(0, 0, 0, 0.5);
        }

        /* 정유진: 게시글 좋아요 수와 댓글을 숨긴다.*/
        .profile_feed_mouse_over > .feed_count {
            display: none;
        }

        /*정유진: 게시물의 좋아요 수와 댓글 수를 보여준다.*/
        .profile_feed_mouse_over:hover > .feed_count {
            color: white;
            display: flex;
        }
    </style>
</head>
<body>
<!-- 맨 위 상단 메뉴바(로고 검색 기타메뉴)를 만드는 코드 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;width: 100%; z-index: 999">
    <div class="container-fluid" style="justify-content: space-between;flex-wrap: nowrap; min-width: 1000px">
        <!-- 로고 -->
        <a class="navbar-brand" href="/main"><img style="width: 167px"
                                                  src="https://blogfiles.pstatic.net/MjAyMzA0MDJfMjg2/MDAxNjgwNDIzNjk3ODAy.ZI7uM4QmLKs-KeALJ8LcUl2x9LnJ1Sd2WV-4P_8bI1cg.IBIosSfIcz-cwb4zg7t4LDWdSRJztgSX2skoCOGk3j8g.PNG.roedeer0807/mainLogo_removebg.png"
                                                  alt=" text">
        </a>
        <!-- 검색창 -->
        <input class="form-control me-2" style="width: 400px" type="search" placeholder="Search" aria-label="Search">
        <!-- 메뉴아이콘들 -->
        <div style="display: flex">
            <a href="/main" style="color: black"><span class="material-icons"
                                                       style="padding-right: 10px"> home</span></a>
            <span id="nav_bar_add_box" class="material-icons-outlined" style="padding-right: 10px">add_box</span>
            <!-- 프로필 사진 선택시 드롭다운 메뉴 -->
            <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- 주 메뉴(프로필 사진)-->
                    <div class="box" style="width: 25px; height: 25px">

                        <img class="profile"
                             src="{% get_media_prefix %}{{ user.profile_image }}" alt="text">

                    </div>
                </a>
                <!-- 드롭다운의 하위 메뉴(프로필, 로그아웃) -->
                <ul class="dropdown-menu" style="left:-158px" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/content/profile">프로필</a></li>
                    <li>
                        <!-- 구분선 -->
                        <hr class="dropdown-divider">
                    </li>
                    <!-- 로그아웃 버튼 클릭시 현재 경로에서 /user/logout으로 이동 -->
                    <li><a class="dropdown-item" href="/user/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- 프로필 사진과 프로필 정보 텍스트 영역 -->
<div style="display: flex; flex-direction: row;text-align: center; justify-content: center;padding-top: 60px; background-color:#FAFAFA">
    <!-- 프로필 사진 -->
    <div style="padding: 20px 60px">
        <div class="box" style="width: 175px; height: 175px;">
            <img class="profile"
                 src="{% get_media_prefix %}{{ user.profile_image }}" alt="text">
        </div>
    </div>
    <!-- 텍스트 설명란 -->
    <div>
        <!-- 사용자 이름, 프로필편집 버튼, 설정창 -->
        <div style="display: flex; flex-direction: row; margin: 20px 0">
            <div style="font-size: 26px; margin-right: 40px">
                {{ user.nickname }}
            </div>
            <button id="button_profile_upload" style="margin-right: 40px"> 프로필 사진 편집</button>
            <button id="button_profile_reset" style="margin-right: 40px"> 프로필 사진 삭제</button>
            <input type="file" id="input_fileupload" onchange="profile_upload();" style="display: none"/>
            <span class="material-icons-outlined" style="margin-right: 40px">settings</span>
        </div>
        <!-- 프로필 설명란(팔로워 팔로잉 사용자 이름) -->
        <div style="margin-bottom: 20px">
            게시물 내 게시물건수 팔로워 111 팔로잉 111
        </div>
        <div>
            <b>{{ user.name }}</b>
        </div>
    </div>
</div>

<!-- 사용자가 좋아요 게시한 글 북마크한 게시글을 보여주기 위한 버튼 -->
<div style="border-top: solid 2px rgba(50,50,50,0.1); width: 100%">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin: 20px">
        <!-- 내가 작성한 게시글들을 보기 위한 버튼 -->
        <!-- 초기 화면에 활성화된 버튼에 밑줄표시 -->
        <div id="button_feed_list"
             style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center; border-bottom-style: solid; border-bottom-width: 1px;"><span
                class="material-icons-outlined">grid_on</span>내 게시물
        </div>
        <!-- 내가 좋아요한 게시글들을 보기 위한 버튼 -->
        <!-- 초기 화면에 비활성화된 버튼에 밑줄의 두께 설정 -->
        <div id="button_feed_like_list"
             style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center; border-bottom-width: 1px;"><span
                class="material-icons-outlined">favorite_border</span>좋아요
        </div>
        <!-- 내가 북마크한 게시글들을 보기 위한 버튼 -->
        <!-- 초기 프로필 화면에 비활성화된 버튼에 밑줄의 두께 설정 -->
        <div id="button_feed_bookmark_list"
             style="cursor: pointer;margin: 0 30px;display: flex; flex-direction: row;align-items: center ; border-bottom-width: 1px;"><span
                class="material-icons-outlined">bookmark_border</span>북마크
        </div>
    </div>
</div>

<!-- 내가 작성한 게시물 목록 -->
<div id="feed_list" style="width: 100%; min-width: 1000px; display: flex; align-items: center;justify-content: center">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 1000px; justify-content: center">
        {% for feed in feed_list %}
            <div style="width: 300px;height: 300px; margin: 10px 5px 0 5px;">
                <div style="position: relative;width: 100%; height: 100%;">
                    <!-- 정유진: 이미지 앞에 만든 div의 class인 profile_feed_mouse_over는 마우스 오버될 때 밝기를 조절-->
                    <div class="profile_feed_mouse_over"
                         style="position: absolute; width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">
                        {% for count in feed_count_list %}
                            {% if count.id == feed.id %}
                                <!-- 정유진: 좋아요 수를 보여준다. -->
                                <div class="feed_count" style="margin: 10px;">
                                    <span class="material-icons-outlined" style="margin-right:5px">favorite</span>
                                    <p>{{ count.like_count }}</p>
                                </div>
                                <!-- 정유진: 댓글 수를 보여준다. -->
                                <div class="feed_count" style="margin: 10px">
                                    <span class="material-icons-outlined" style="margin-right:5px">comment</span>
                                    <p>{{ count.reply_count }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        <img style="width: 300px;height: 300px; object-fit: cover"
                             src="{% get_media_prefix %}{{ feed.image }}" alt="text">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- 내가 좋아요한 게시글 목록 -->
<div id="like_feed_list"
     style="width: 100%; min-width: 1000px; display: none; align-items: center;justify-content: center">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 1000px; justify-content: center">
        {% for feed in like_feed_list %}
            <div style="width: 300px;height: 300px; margin: 10px 5px 0 5px;">
                <div style="position: relative;width: 100%; height: 100%;">
                    <!-- 정유진: 이미지 앞에 만든 div의 class인 profile_feed_mouse_over는 마우스 오버될 때 밝기를 조절-->
                    <div class="profile_feed_mouse_over"
                         style="position: absolute; width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">
                        {% for count in like_count_list %}
                            {% if count.id == feed.id %}
                                <!-- 정유진: 좋아요 수를 보여준다. -->
                                <div class="feed_count" style="margin: 10px;">
                                    <span class="material-icons-outlined" style="margin-right:5px">favorite</span>
                                    <p>{{ count.like_count }}</p>
                                </div>
                                <!-- 정유진: 댓글 수를 보여준다. -->
                                <div class="feed_count" style="margin: 10px">
                                    <span class="material-icons-outlined" style="margin-right:5px">comment</span>
                                    <p>{{ count.reply_count }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        <img style="width: 300px;height: 300px; object-fit: cover"
                             src="{% get_media_prefix %}{{ feed.image }}" alt="text">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- 내가 북마크한 게시글 목록 -->
<div id="bookmark_feed_list"
     style="width: 100%; min-width: 1000px; display: none; align-items: center;justify-content: center">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; width: 1000px; justify-content: center">
        {% for feed in bookmark_feed_list %}
            <div style="width: 300px;height: 300px; margin: 10px 5px 0 5px;">
                <div style="position: relative;width: 100%; height: 100%;">
                    <!-- 정유진: 이미지 앞에 만든 div의 class인 profile_feed_mouse_over는 마우스 오버될 때 밝기를 조절-->
                    <div class="profile_feed_mouse_over"
                         style="position: absolute; width: 100%;height: 100%;display: flex;align-items: center;justify-content: center;">
                        {% for count in bookmark_count_list %}
                            {% if count.id == feed.id %}
                                <!-- 정유진: 좋아요 수를 보여준다. -->
                                <div class="feed_count" style="margin: 10px;">
                                    <span class="material-icons-outlined" style="margin-right:5px">favorite</span>
                                    <p>{{ count.like_count }}</p>
                                </div>
                                <!-- 정유진: 댓글 수를 보여준다. -->
                                <div class="feed_count" style="margin: 10px">
                                    <span class="material-icons-outlined" style="margin-right:5px">comment</span>
                                    <p>{{ count.reply_count }}</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div>
                        <img style="width: 300px;height: 300px; object-fit: cover"
                             src="{% get_media_prefix %}{{ feed.image }}" alt="text">
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<!-- 사진 업로드 창 첫번째 모달 -->
<div id="first_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div>
                <!-- 공백 -->
            </div>
            <div>
                새 이미지 업로드
            </div>
            <!-- 모달창 닫기 버튼 -->
            <div>
                <span class="modal_close material-icons-outlined">close</span>
            </div>
        </div>

        <!-- 이미지를 드래그 앤 드롭할 공간 -->
        <div class="img_upload_space"
             style="border-top: solid 1px gray;width: 778px; height: 540px;margin-top: 10px; text-align: center">
            <div style="margin-top: 200px; color: gray; font-weight: bold">
                이미지를 여기에 드롭 하거나 사진 추가 버튼을 클릭 하세요
            </div>

            <!--사진 찾는 파일 시스템을 여는 버튼-->
            <button id="image_upload_btn" type="button" class="btn btn-primary"
                    style="width: 200px; margin-top: 20px">
                사진 추가
            </button>
            <!--파일 입력 폼-->
            <input type="file" id="input_image_upload" onchange="image_upload();" style="display: none"/>
        </div>

    </div>
</div>

<!-- 글 내용 작성 모달창 두번째 모달 -->
<div id="second_modal" class="modal_overlay">
    <div class="modal_window">
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div>
                <!-- 공백 -->
            </div>
            <div>
                새 이미지 업로드
            </div>
            <!-- 모달창 닫기 버튼 -->
            <div>
                <span class="modal_close material-icons-outlined">close</span>
            </div>
        </div>
        <!-- 이미지를 드래그 앤 드롭할 공간 -->
        <div style="border-top: solid 1px gray;display: flex; flex-direction: row;margin-top: 10px">
            <div class="img_upload_space" style="width: 500px; height: 540px;">

            </div>
            <div style="border-left: solid 1px gray">
                <!-- 게시글 작성 텍스트박스 -->
                <div>
                    <textarea id="input_feed_content" class="form-control" style="width: 276px; height: 400px"
                              id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
                <!-- 공유하기 버튼 -->
                <button id="feed_create_button" type="button" class="btn btn-primary"
                        style="width: 100%">
                    공유하기
                </button>
            </div>
        </div>
    </div>
</div>

<!-- 자바 스크립트 영역 이벤트처리나 서버로 데이터를 전달하는 과정(ajax) -->
<script>
    // 내가 쓴 게시물 이벤트 처리
    $("#button_feed_list").click(function () {
        // 프로필 화면의 내 게시물 버튼 활성화 표시
        $('#button_feed_list').css({
            borderBottomStyle: "solid"
        });
        // 프로필 화면의 좋아요 버튼 비활성화 표시
        $('#button_feed_like_list').css({
            borderBottomStyle: "none"
        });
        // 프로필 화면의 북마크 버튼 비활성화 표시
        $('#button_feed_bookmark_list').css({
            borderBottomStyle: "none"
        });
        //내 게시물의 게시물 보기
        $('#feed_list').css({
            display: 'flex'
        });
        //좋아요의 게시물 숨기기
        $('#like_feed_list').css({
            display: 'none'
        });
        //북마크의 게시물 숨기기
        $('#bookmark_feed_list').css({
            display: 'none'
        });
    });

    // 내가 좋아요한 게시물 이벤트 처리
    $("#button_feed_like_list").click(function () {
        // 프로필 화면의 내 게시물 버튼 비활성화 표시
        $('#button_feed_list').css({
            borderBottomStyle: "none"
        });
        // 프로필 화면의 좋아요 버튼 활성화 표시
        $('#button_feed_like_list').css({
            borderBottomStyle: "solid"
        });
        // 프로필 화면의 북마크 버튼 비활성화 표시
        $('#button_feed_bookmark_list').css({
            borderBottomStyle: "none"
        });
        //내 게시물의 게시물 숨기기
        $('#feed_list').css({
            display: 'none'
        });
        //좋아요의 게시물 보기
        $('#like_feed_list').css({
            display: 'flex'
        });
        //북마크의 게시물 숨기기
        $('#bookmark_feed_list').css({
            display: 'none'
        });
    });

    // 내가 북마크한 게시물 이벤트 처리
    $("#button_feed_bookmark_list").click(function () {
        //프로필 화면의 내 게시물 버튼 비활성화 표시
        $('#button_feed_list').css({
            borderBottomStyle: "none"
        });
        //프로필 화면의 좋아요 버튼 비활성화 표시
        $('#button_feed_like_list').css({
            borderBottomStyle: "none"
        });
        // 프로필 화면의 북마크 버튼 활성화 표시
        $('#button_feed_bookmark_list').css({
            borderBottomStyle: "solid"
        });
        //내 게시물의 게시물 숨기기
        $('#feed_list').css({
            display: 'none'
        });
        //좋아요의 게시물 숨기기
        $('#like_feed_list').css({
            display: 'none'
        });
        //북마크의 게시물 보기
        $('#bookmark_feed_list').css({
            display: 'flex'
        });
    });

    // 모달창 닫기 버튼 이벤트 처리
    $(".modal_close").click(function () {
        // 모달창 닫았을 때 본문 스크롤 가능
        $(document.body).css({
            overflow: 'visible'
        });
        // 모달창 닫았을 때 백그리운드 색 및 이미지 리셋
        $('.img_upload_space').css({
            "background-color": "White",
            "background-image": ""
        });

        // 모달창 닫기와 닫았을 때 글내용을 리셋하는 부분
        $('#input_feed_content').each(function () {
            $(this).val('');
        });
        $('#first_modal').css({
            display: 'none'
        });
        $('#second_modal').css({
            display: 'none'
        });

    });

    // 사용 범위를 위해 전역 변수 files 선언
    let files;
    // 게시글 추가 버튼 이벤트 처리
    $('#nav_bar_add_box').click(function () {
        //+버튼을 누르면 업로드 창이뜨게 함
        $('#first_modal').css({
            display: 'flex'
        });

        // 업로드 창이 떴을때 스크롤이 사라지게 함
        $(document.body).css({
            overflow: 'hidden'
        });
    });
    // 공유하기 버튼 클릭시 이벤트 처리
    $('#feed_create_button').click(function () {
        alert("공유하기 눌렀다.");

        let file = files[0];
        let image = files[0].name;
        let content = $('#input_feed_content').val();

        // 파일을 업로드 하는 것이므로 formdata 형태로 서버에 전달해야 함, formdata 객체를 생성한 뒤 서버로 보낼 데이터를 객체에 추가해줌
        let fd = new FormData();

        fd.append('file', file);
        fd.append('image', image);
        fd.append('content', content);

        //서버로 보내기 위해서 접속할 url : "/content/upload"이며 보낼 데이터는 formdata, 방식은 POST (formdata 형태)
        $.ajax({
            url: "/content/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
                location.replace("/main");
            }
        });
    });

    // 이미지 업로드 공간에 특정 이벤트 발생시 해당하는 함수를 실행
    $('.img_upload_space')
        .on("dragover", dragOver)
        .on("dragleave", dragOver)
        .on("drop", uploadFiles)
        .on("change", uploadFiles)


    // 마우스를 드래그 했을 때
    function dragOver(e) {
        // 이벤트 전파 차단
        e.stopPropagation();
        e.preventDefault();

        // 파일을 드래그해서 업로드 공간에 올릴때 이벤트  이쁘게 수정 필요 TODO
        // 마우스가 업로드 공간에서 떠나면 이벤트 이쁘게 수정 필요 TODO
        if (e.type === "dragover") {
            $(e.target).css({
                "background-color": "black",
                "outline-offset": "-20px"
            });
        } else {
            $(e.target).css({
                "outline-offset": "-10px"
            });
        }
    }

    // 파일을 드래그 한 상태에서 마우스가 드랍이 되었을 때
    function uploadFiles(e) {
        // 이벤트 전파 차단
        e.stopPropagation();
        e.preventDefault();

        // 실질적으로 파일을 업로드 하는 부분
        e.dataTransfer = e.originalEvent.dataTransfer;
        files = e.target.files || e.dataTransfer.files;

        // 여러개의 파일을 한번에 올릴려고 하면 리턴
        if (files.length > 1) {
            alert('하나만 올려라.');
            return;
        }

        // 타입을 판별하고 이미지면 아래 로식을 실행
        if (files[0].type.match(/image.*/)) {

            // 이미지 업로드시 사진업로드 모달창을 가림
            $('#first_modal').css({
                display: 'none'
            });

            // 글 내용 작성 모달창을 띄움
            $('#second_modal').css({
                display: 'flex'
            });

            // 업로드 창 배경을 업로드된 이미지로 변경
            $('.img_upload_space').css({
                "background-image": "url(" + window.URL.createObjectURL(files[0]) + ")",
                "outline": "none",
                "background-size": "100%",
                "background-repeat": "no-repeat",
                "background-position": "center"
            });
        } else {
            alert('이미지가 아닙니다.');
            return 0;
        }

    }

    // 모달창의 사진 추가 버튼 클릭했을 시
    $('#image_upload_btn').click(function () {
        $('#input_image_upload').click();
    });

    // 파일 입력 폼에서 변화 발생시 해당 함수가 실행
    function image_upload() {
        // 이미지 업로드시 사진업로드 모달창을 가림
        $('#first_modal').css({
            display: 'none'
        });
        // 글 내용 작성 모달창을 띄움
        $('#second_modal').css({
            display: 'flex'
        });
        // 업로드 창 배경을 업로드된 이미지로 변경
        $('.img_upload_space').css({
            "background-image": "url(" + window.URL.createObjectURL($('#input_image_upload')[0].files[0]) + ")",
            "outline": "none",
            "background-repeat": "no-repeat",
            "background-size": "contain",
            "background-position": "center"
        });
    }

    // 프로필 사진 업로드 버튼 클릭시 이벤트 처리
    $('#button_profile_upload').click(function () {
        $('#input_fileupload').click();
    });

    // 프로필 사진 업로드 하는 함수와  ajax
    function profile_upload() {
        let file = $('#input_fileupload')[0].files[0];


        let email = "{{ user.email }}";

        let fd = new FormData();

        fd.append('file', file);
        fd.append('email', email);

        $.ajax({
            url: "/user/profile/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
                location.replace("/content/profile");
            }
        });

    }

    // 05-07 유재우 : 프로필 사진 삭제 버튼 눌렸을 때 프로필 사진을 디폴트 값으로 바꿔주는 부분 TODO
    $('#button_profile_reset').click(function () {

        let email = "{{ user.email }}";

        $.ajax({
            url: "/user/profile/reset",
            data: {
                email: email
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("프로필이 성공적으로 삭제 되었습니다.");
                location.replace("/content/profile");
            },
            error: function (request, status, error) {
                console.log("에러")
            },
            complete: function () {
                console.log("완료");
            }
        })
    });
</script>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>