<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- css 분리 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/settings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/allsame.css' %}?ver=4">
    <!-- Bootstrap CSS 사용하기 위한 선언  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--  Google 아이콘 사용하기 위한 선언 -->
    <link
            href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
            rel="stylesheet">

    <!--  jQuery를 사용하기 위한 선언  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>설정</title>
    <style>
        /* 구글 머리티얼 아이콘은 css 분리가 안됨 */
        .menu_icon {
            font-size: 32px;
            wght: 100;
            padding-right: 20px;
            cursor: pointer;
            color: black;
        }
    </style>
</head>
<body>
<!-- 맨 위 상단 메뉴바( 로고 검색 기타메뉴 )-->
<nav class="navbar navbar-expand-lg navbar-white bg-white">
    <!-- 메뉴바 -->
    <div class="menu_bar">
        <!-- 로고 -->
        <a class="navbar-brand" href="/main"><img class="astro_logo"
                                                  src="https://blogfiles.pstatic.net/MjAyMzA0MDJfMjg2/MDAxNjgwNDIzNjk3ODAy.ZI7uM4QmLKs-KeALJ8LcUl2x9LnJ1Sd2WV-4P_8bI1cg.IBIosSfIcz-cwb4zg7t4LDWdSRJztgSX2skoCOGk3j8g.PNG.roedeer0807/mainLogo_removebg.png"
                                                  alt="text">
        </a>
        <!-- 검색창 -->
        <form class="bar_search" action="{% url 'content:feed_search' %}" method="GET">
            <input id="search_box" type="text" name="search" placeholder="Search" autocomplete="off">
        </form>
        <!-- 메뉴 아이콘 들 -->
        <div class="menu_icons">
            <a href="/main"><span class="menu_icon material-icons"> home</span></a>
            <!-- 프로필 사진 선택시 드롭다운 메뉴 -->
            <div class="dropdown">
                <a href="#" role="button" id="dropdownMenuLink"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- 주 메뉴(프로필 사진)-->
                    <div class="profile_box">

                        <img class="profile"
                             src="{% get_media_prefix %}{{ user_session.profile_image }}" alt="text">

                    </div>
                </a>
                <!-- 드롭다운의 하위 메뉴(프로필, 로그아웃) -->
                <ul id="nav_dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/content/profile"><b>프로필</b></a></li>
                    <li>
                        <!-- 구분선 -->
                        <hr class="dropdown-divider">
                    </li>
                    <!-- 로그아웃 버튼 클릭시 현재 경로에서 /user/logout으로 이동 -->
                    <li><a id="logout_menu" class="dropdown-item" href="/user/logout">로그아웃</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!--설정창 영역-->
<div id="settings_area">
    <!--설정창 박스-->
    <div id="settings_border_outline">
        <!-- 프로필 수정 영역 -->
        <div id="profile_settings_area">
            <!-- 프로필 사진과 닉네임 영역 -->
            <div id="profile_image_settings_area">
                <!--프로필 사진 영역-->
                <div id="profile_image_settings">
                    <div class="settings_profile_box">
                        <img id="button_profile_upload" class="profile"
                             src="{% get_media_prefix %}{{ user_session.profile_image }}" alt="text">
                        <input type="file" id="input_profileimage_upload" onchange="profile_upload();"
                               style="display: none"/>
                    </div>
                </div>
                <!-- 단순 닉네임 표시 영역-->
                <div style="text-align: center">
                    {{ user_session.nickname }}
                </div>
            </div>
            <!-- 프로필 닉네임 수정 영역 부모 -->
            <div id="profile_text_settings_area">
                <!--프로필 닉네임 수정 영역 자식 -->
                <div id="profile_text_area">
                    <!--변경할 닉네임 입력란 -->
                    <div id="join_nickname_box" class="form-floating mb-3">
                        <input type="text" class="form-control" id="input_nickname"
                               placeholder="name@example.com">
                        <label id="nickname_error" for="input_nickname">{{ user_session.nickname }}</label>
                    </div>
                    <!--프로필 삭제 버튼-->
                    <button id="button_profile_reset" type="button" class="btn btn-primary">프로필 사진 삭제</button>
                </div>
                <!--프로필 닉네임 수정 버튼-->
                <div id="update_nickname_btn_area">
                    <button id="update_nikname_btn" type="button" class="btn btn-primary"><b>수정</b></button>
                </div>
            </div>
        </div>

        <!-- 프로필 로그인 정보 수정 -->
        <div id="Login_profile_area">
            <!--프로필 이메일 변경 영역-->
            <div id="Login_profile_email">
                <c id="email_update_text">이메일 변경</c>
                <!--변경할 이메일 입력란 -->
                <div id="join_email_box" class="form-floating mb-3">
                    <input type="email" class="form-control" id="input_email" placeholder="name@example.com">
                    <label id="email_error" for="input_email">{{ user_session.email }}</label>
                </div>
                <!-- 프로필 이메일 수정 버튼-->
                <button id="update_email_btn" type="button" class="btn btn-primary"><b>수정</b></button>
            </div>
            <!--프로필 비밀번호 변경 영역-->
            <div id="Login_profile_passwrod">
                <a id="password_update_text">비밀번호 변경</a>
                <!--변경할 비밀번호 입력란 -->
                <div id="join_password_box" class="form-floating mb-3">
                    <input type="password" class="form-control" id="input_password"
                           placeholder="name@example.com">
                    <label id="password_error" for="input_password">비밀번호</label>
                </div>
                <!-- 프로필 비밀번호 변경 버튼 -->
                <button id="update_password_btn" type="button" class="btn btn-primary"><b>수정</b></button>

            </div>
        </div>

        <!-- 회원 탈퇴-->
        <div id="user_delete_area">
            <button id="profile_dele_btn" user_session_email="{{ user_session.email }}" type="button" class="btn btn-primary"><b>회원 탈퇴</b></button>
        </div>
    </div>
</div>
<!-- 정유진: 자동완성 모달창. 관련 id는 auto_modal로 시작 -->
<div id="auto_modal">
    <!-- 자동완성 리스트 -->
    <div id="auto_modal_list" class="auto_madal_list_area">
    </div>
</div>
<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script>
    // 정유진: 버튼 비활성화
    document.getElementById("update_nikname_btn").disabled = true;
    document.getElementById("update_email_btn").disabled = true;
    document.getElementById("update_password_btn").disabled = true;

    // 정유진: 이메일 정규식 확인. {,}는 최소 수와 최대 수를 나타낸다.
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
    //최소 8자 최대 24자, 최소 하나의 문자, 하나의 숫자 및 하나의 특수 문자. 특수 문자는 ~!@#$%^&*_+\-.<>/? 만 가능
    let passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[~!@#$%^&*_+\-.<>/?])[A-Za-z\d~!@#$%^&*()_+\-=`[~!@#$%^&*_+\-.<>/?]{8,24}$/;

    // 정유진: 변경 전 nickname과 email
    let nickname_current = $('#nickname_error').text();
    let email_current = $('#email_error').text();

    // 정유진: 이메일 주소 유호성 확인. 이메일 양식. 이메일 주소 길이.
    $('#input_email').keyup(function () {
        let email = $('#input_email').val();
        let emailError = $('#email_error');
        emailError.css("color", "#ff0000");

        // 정유진: 이메일 유효성 확인. 이메일 양식.
        if (!emailRegex.test(email)) {
            emailError.show().text("올바른 이메일 양식이 아닙니다!")
            document.getElementById("update_email_btn").disabled = true;
            // 정유진: 공백으로 지우면 다시 회색 글자.
            if (email == "") {
                emailError.show().text(email_current);
                emailError.css("color", "gray");
                document.getElementById("update_email_btn").disabled = true;
            }
        } else {
            // 정유진: 이메일 주소 길이 확인.
            if (email.length > 24) {
                emailError.show().text("이메일 주소가 너무 깁니다.")
                document.getElementById("update_email_btn").disabled = true;
            } else {
                emailError.show().text("이메일");
                emailError.css("color", "gray");
                document.getElementById("update_email_btn").disabled = false;
            }
        }
    })

    // 정유진: 닉네임 유호성 확인. 공백 포함 안 되게. 수정필요
    $('#input_nickname').keyup(function () {
        let nickname = $('#input_nickname').val();
        let nicknameError = $('#nickname_error');
        if (nickname == "") {
            nicknameError.show().text(nickname_current);
            nicknameError.css("color", "gray");
            document.getElementById("update_nikname_btn").disabled = true;
        } else {
            // 정유진: 닉네임에 공백을 포함하지 못하게 한다.
            if (nickname.indexOf(' ') !== -1) {
                nicknameError.css("color", "#ff0000");
                nicknameError.show().text("공백은 넣을 수 없습니다.")
                document.getElementById("update_nikname_btn").disabled = true;
            } else {
                // 정유진: 닉네임 길이 제한
                if (nickname.length > 24) {
                    nicknameError.show().text("닉네임이 너무 깁니다.")
                    document.getElementById("update_nikname_btn").disabled = true;
                } else {
                    nicknameError.show().text("닉네임");
                    nicknameError.css("color", "gray");
                    document.getElementById("update_nikname_btn").disabled = false;
                }
            }
        }
    });

    // 정유진: 비밀번호 유효성 확인
    $('#input_password').keyup(function () {
        let password = $('#input_password').val();
        let passwordError = $('#password_error');
        passwordError.css("color", "#ff0000");

        // 정유진: 유효성 확인
        if (!passwordRegex.test(password)) {
            passwordError.show().text("8~25자, 문자, 숫자, 특수문자 포함")
            document.getElementById("update_password_btn").disabled = true;
            if (password == "") {
                passwordError.show().text("비밀번호");
                passwordError.css("color", "gray");
                document.getElementById("update_password_btn").disabled = true;
            }
        } else {
            passwordError.show().text("비밀번호");
            passwordError.css("color", "gray");
            document.getElementById("update_password_btn").disabled = false;

        }
    });

    // 05-09 유재우 회원탈퇴를 위한
    $('#profile_dele_btn').click(function () {
        if (confirm("유저 정보를 삭제 하시겠습니까?")) {
            delete_profile_Fn()
        }
    });

    function delete_profile_Fn() {
        let email = "{{ user_session.email }}"

        $.ajax({
            url: "/user/profile/remove",
            data: {
                email: email
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("프로필이 성공적으로 삭제 되었습니다.");
                location.replace("");
            },
            error: function (request, status, error) {
                console.log("에러")
                alert(email);
            },
            complete: function () {
                console.log("완료");
            }
        })
    }


    // 프로필 사진 업로드 버튼 클릭시 이벤트 처리
    $('#button_profile_upload').click(function () {
        $('#input_profileimage_upload').click();
    });

    // 프로필 사진 업로드 하는 함수와  ajax
    function profile_upload() {
        let file = $('#input_profileimage_upload')[0].files[0];
        let email = "{{ user_session.email }}"
        let fd = new FormData();

        fd.append('file', file);
        fd.append('email', email);

        $.ajax({
            url: "/user/profile/upload",
            data: fd,
            method: "POST",
            processData: false,
            contentType: false,
            success: function (data) {
                console.log("성공");

            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
                location.replace("/user/profile/setting");
            }
        });

    }

    // 05-07 유재우 : 프로필 사진 삭제 버튼 눌렸을 때 프로필 사진을 디폴트 값으로 바꿔주는 부분 TODO
    $('#button_profile_reset').click(function () {

        let email = "{{ user_session.email }}";

        $.ajax({
            url: "/user/profile/reset",
            data: {
                email: email
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                alert("프로필이 성공적으로 삭제 되었습니다.");
                location.replace("/user/profile/setting");
            },
            error: function (request, status, error) {
                console.log("에러")
            },
            complete: function () {
                console.log("완료");
            }
        })
    });

    //05-14 유재우 : 비밀번호 변경
    $('#update_password_btn').click(function () {
        let email = "{{ user_session.email }}";
        let password = $('#input_password').val();
        $.ajax({
            url: "/user/updatepassword",
            data: {
                email: email,
                password: password
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                location.replace('/user/profile/setting');
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
            }
        });
    })

    //05-14 유재우 : 닉네임 변경
    $('#update_nikname_btn').click(function () {
        let email = "{{ user_session.email }}";
        let nikname = $('#input_nickname').val();
        $.ajax({
            url: "/user/profile/updatenickname",
            data: {
                email: email,
                nickname: nikname
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                if (data) {
                    $('#nickname_error').css("color", "#ff0000");
                    $('#nickname_error').show().text(data.message);
                    $('#nickname_error').focus();
                } else {
                    location.replace('/user/profile/setting');
                }
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
            }
        });
    })
    //05-15 유재우 : 이메일 변경
    $('#update_email_btn').click(function () {
        let user_email = "{{ user_session.email }}";
        let email = $('#input_email').val();

        $.ajax({
            url: "/user/profile/updateemail",
            data: {
                user_email: user_email,
                email: email
            },
            method: "POST",
            success: function (data) {
                console.log("성공");
                if (data) {
                    $('#email_error').css("color", "#ff0000");
                    $('#email_error').show().text(data.message)
                    $('#email_error').focus();
                } else {
                    location.replace('/user/profile/setting');
                }
            },
            error: function (request, status, error) {
                console.log("에러");
            },
            complete: function () {
                console.log("완료");
            }
        });
    })
    // 정유진: 모달 바깥부분을 클릭하면 안 보에게 된다.
    let auto_modal = document.getElementById('auto_modal').getAttribute("id");
    let search_box = document.getElementById('search_box').getAttribute("id");

    window.addEventListener('mouseup', function (event) {
        // 정유진: 모달창 사라지는 기준.
        if ((event.target.getAttribute("id") == null)
            || !((event.target.getAttribute("id").includes(auto_modal))
                || (event.target.getAttribute("id").includes(search_box)))) {
            $('#auto_modal').css({
                display: 'none'
            });
        }
    });

    // 정유진: 반응형 적용
    window.addEventListener('resize', function () {
        let search_box = document.getElementById('search_box');
        // 정유진: 태그 안의 요소들을 가져온다
        let rect = search_box.getBoundingClientRect();
        // 정유진: left 요소의 값을 가져온다
        let left_value = rect.left;
        // 정유진: 검색창이 없을 경우
        if (left_value == 0) {
            $('#auto_modal').css({
                display: 'none'
            });
        } else { // 정유진: 검색창이 있을 경우
            $('#auto_modal').css({
                left: left_value + 'px'
            });
        }
    });

    // 정유진: 검색창을 클릭하면 모달창이 뜬다
    $('#search_box').mousedown(function () {
        let element = document.getElementById('search_box');
        let rect = element.getBoundingClientRect();
        let left_value = rect.left;
        // 정유진: 모달창 위치를 정하고 보이게 한다
        $('#auto_modal').css({
            display: 'flex',
            left: left_value + 'px'
        });
        // 정유진: 자동완성에 필요한 검색창의 값을 keyup()으로 가져온다.
        $('#search_box').keyup(function () {
            let search_box_value = document.getElementById('search_box').value;

            if (search_box_value != "") {
                // 정유진: 가져온 값을 서버로 보낸다.
                $.ajax({
                    url: "/content/autocomplete",
                    data: {
                        search_box_value: search_box_value
                    },
                    method: "GET",
                    success: function (data) {
                        console.log("성공");
                        $("#auto_modal_list").html('');
                        for (let i = 0; i < data['autocomplete_user_list'].length; i++) {
                            // 정유진: 이미지는 경로가 따로 있어야 한다.
                            let user_profile_image = "/media/" + data['autocomplete_user_list'][i].profile_image;
                            let user_nickname = data['autocomplete_user_list'][i].nickname;
                            let user_name = data['autocomplete_user_list'][i].name;

                            $("#auto_modal_list").append('<div id="auto_modal_object_' + i + '" class="movetoprofile" style="width: 100%; margin: 10px; display: flex;flex-direction: row;align-items: center;"></div>');

                            $("#auto_modal_object_" + i).append('<img id="' + user_nickname + '" class="profile_box box profile feed_profile_image " style="width: 35px; height: 35px" src="' + user_profile_image + '">');
                            $("#auto_modal_object_" + i).append('<div id="auto_modal_nickname_name_' + i + '"></div>');

                            $("#auto_modal_nickname_name_" + i).append('<div id="' + user_nickname + '" class="feed_nickname">' + user_nickname + '</div>');
                            $("#auto_modal_nickname_name_" + i).append('<div id="' + user_nickname + '" class="feed_nickname" style="">' + user_name + '</div>');

                            // 정유진: append에서 id 값을 user_nickname로 하면 $("#" + user_nickname).append가 되지 않아 따로 바꾼다.
                            document.getElementById("auto_modal_object_" + i).setAttribute("id", user_nickname);

                            // 화면에서 다른사용자의 프로필 클릭시 해당 사용자의 프로필로 이동
                            $(".movetoprofile").click(function (event) {
                                let user_nickname = event.target.id;
                                location.href = "/content/reprofile?user_nickname=" + user_nickname;
                            });
                        }
                    },
                    error: function (request, status, error) {
                        console.log("에러");
                    },
                    complete: function () {
                        console.log("완료");
                    }
                });
            } else {
                $("#auto_modal_list").html('');
            }

        });
    });
</script>
</body>
</html>