body {
    background: #FAFAFA !important;
}

/* 네비바 */
.navbar {
    position: fixed !important;
    width: 100%;
    height: 61px;
    z-index: 999;
    border-bottom: 1px solid #e1e1e1
}

/* 메뉴 바 */
.menu_bar {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    min-width: 800px;
    align-items: center;
}

/* 채팅아이콘 */
#send_icon {
    padding-top: 2px;
    font-size: 30px !important;
    padding-right: 20px;
    cursor: pointer;
    font-variation-settings: 'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

/* 알림 아이콘 */
#alert_icon {
    padding-top: 2px;
    font-size: 30px !important;
    padding-right: 20px;
    cursor: pointer;
    font-variation-settings: 'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}


/* 로고 */
.astro_logo {
    width: 167px;
}

/* 검색창 */
.bar_search {
    position: relative;
}

/* 검색창과 인풋태그 */
.bar_search input {
    width: 400px;
    padding: 8px 16px 8px 40px;
    background-color: #efefef;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: lighter;
}

/* 검색창과 인풋 태그가 포커스 되었을 때 */
.bar_search input:focus {
    outline: none;
    background-color: #efefef;
}

/* 네비바 메뉴 아이콘  */
.menu_icons {
    display: flex;
    padding-top: 3px;
}

/* 링크 태그 디자인 수정 */
a {
    color: black;
    text-decoration: none;
}

/* 프로필 사진 외부 박스 */
.profile_box {
    width: 32px;
    height: 32px;
    border-radius: 70%;
    overflow: hidden;
    min-width: 32px;
    min-height: 32px;
}

/* 프로필 사진 */
.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}


/* 프로필 정보 커서 변경 */
.movetoprofile {
    cursor: pointer;
}

/**/
.dropdown {
    padding-top: 2px;
}

/* 네비바 드롭다운 메뉴 */
#nav_dropdown {
    left: 8px;
    text-align: center;
    min-width: 8rem
}

/* 네비바 드롭메뉴 로그아웃 */
#logout_menu {
    font-weight: bold;
    color: red;
}

/* 프로필 사진 박스 */
.box {
    width: 32px;
    height: 32px;
    border-radius: 70%;
    overflow: hidden;
    min-height: 32px;
    min-width: 32px;
}

/* 자동완성 리스트 */
#auto_modal_list {
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* 자동완성 모달 */
#auto_modal {
    width: 400px;
    max-height: 300px;
    position: fixed;
    display: none;
    top: 50px;
    z-index: 999;
    background: white;
    border-radius: 5px
}

/* 자동완성의 스크롤은 동작하지만 보이지 않게 함 */
.auto_madal_list_area {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.auto_madal_list_area::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 이 웹에선 클릭시 하이라이트가 생기지 않게 함 */
html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 반응형 웹을 위한 코드 */
@media (max-width: 1400px) {
    .chat_user_modal_area {
        visibility: hidden;
    }

    .chat_modal_area {
        visibility: hidden;
    }

    .alert_modal_area {
        visibility: hidden;
    }
}

/* 반응형 웹을 위한 코드 */
@media (max-width: 1000px) {
    #alert_icon {
        display: none;
    }

    #send_icon {
        display: none;
    }

    #chat_user_modal_id {
        display: none;
    }
}

/* 반응형 웹을 위한 코드 */
@media (max-width: 870px) {
    .bar_search {
        display: none;
    }

    .navbar-brand {
        position: absolute;
        top: 8px;
        left: 12px;
    }

    .menu_icons {
        position: absolute;
        top: 8px;
        right: 12px;
    }
}

/* 스크롤은 동작하지만 보이지 않게 함 */
body {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

body::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 자동완성. */
.auto_modal_object {
    width: 100%;
    margin: 10px;
    margin-left: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black !important;
}

/* 자동완성. 해시태그 아이콘 */
.auto_modal_hashtag_icon {
    border-radius: 50%;
    border: 1px solid #e1e1e1;
    width: 32px;
    height: 32px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

/* 유저 자동완성 프로필 사진 */
.auto_modal_image {
    width: 32px;
    height: 32px;
}

/* 유저 자동완성 닉네임 */
.auto_modal_text_object1 {
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

/* 유저 자동완성 이름 */
.auto_modal_text_object2 {
    margin-left: 10px;
    color: gray;
    font-size: 14px;
}

/* 채팅 모달창 */
.chat_modal_area, .chat_user_modal_area {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 100px;
    left: calc(50% - -100px);
    background-color: white;
    border: 1px solid #d8d8d8;
    width: 400px;
    height: 600px;
}

/* 채팅창 설명란 */
.start_chat_explain {
    text-align: center;
    color: gray;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/*채팅 모달창 상단바*/
.chat_modal_bar_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: #d8d8d8 1px solid;
    background-color: #add1ff;
    color: #536d95;
    font-weight: bold;
}

/* 채팅 모달창 드래그 핸들러 */
.chat_modal_header, .chat_user_modal_header {
    padding: 8px;
    cursor: move;
    text-align: center;
    width: 100%;
    padding-right: 0;
}

/* 채팅 모달창 닫기 */
.chat_modal_close {
    margin-right: 10px;
    cursor: pointer;
}

/* 채팅 모달창 상단바 공백 */
.chat_modal_blank {
    margin-left: 20px;
}

/* 채팅 모달창 이전 버튼 */
.chat_modal_back_btn {
    margin-left: 20px;
    width: 42px;
    cursor: pointer;
}

/* 채팅 내역 영역(모달창안에 페이지를 불러옴) */
.chat_modal_content_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #d8d8d8;
    overflow-y: auto;
}

/* 채팅 모달창 텍스트 영역 */
.chat_modal_text_area {
    width: 100%;
    height: 87%;
}

/* 채팅 유저 목록 모달창 영역 */
.chat_modal_user_area {
    width: 100%;
    height: 100%;
}

/* 채팅모달창 채팅입력 영역 */
.chat_add_textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 채팅 모달창 채팅 입력 박스 */
#chat_text_box {
    border: none;
    box-shadow: none;
}

/* 채팅 보내기 버튼 */
.upload_chat {
    width: 50px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

/* 채팅관련 모달창 */
#chat_modal_id, #chat_user_modal_id, #alert_modal_id {
    display: none;
}

/* 채팅 친구 목록 영역(모달창안에 페이지를 불러옴) */
.chat_user_list_modal_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* 채팅 친구 목록 1명 기준 영역 */
.chat_user_list_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #d8d8d8;
    cursor: pointer;
}

/* 채팅할 유저 목록(닉네임 이름) 영역*/
.chat_nick_name_area {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

/* 유저 닉네임 */
.chat_nickname {
    font-weight: bold;
    font-size: 15px;
}

/* 프로필과 마지막 채팅 내용 영역 */
.profile_and_chat_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;
}

/* 마지막 채팅 메시지 시간 */
.send_chat_time {
    font-size: 12px;
    font-weight: bold;
    color: #4e96ff;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-right: 10px;
}

/* 마지막 채팅 내용 */
.send_user_chat {
    font-size: 14px;
    color: gray;
}

/* 채팅 유저목록 리스트 새로고침 */
.refresh_chat_modal_user_area {
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border-top: 1px solid #d8d8d8;
    background-color: #e7ecff;
    color: #a7a7a7;
    font-weight: bold;
    cursor: pointer;
}

/* 보내는 자의 채팅 말풍선 영역 */
.send_chat_area {
    text-align: right;
    padding: 15px
}

/* 보내는자의 채팅 말풍선 디자인 */
.send_chat {
    background-color: #cae1ff;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
}

/* 받는 사람의 채팅 말풍선 영역 */
.receive_chat_area {
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    padding: 15px
}

/* 받는 사람의 채팅 말풍선 디자인 */
.receive_chat {
    background-color: #e3e3e3;
    padding: 8px;
    font-size: 15px;
    border-radius: 5px;
    margin: 0 5px;
}

/* 채팅 보낸 시간 */
.time_chat {
    font-size: 10px;
    color: lightgray;
}

/* 채팅 불러오기 알림창, 알림창을 정확히 화면의 중앙으로 정렬합니다.알림창의 배경색을 검은색의 반투명한 색상으로 설정합니다.
   라는 이름의 페이드 아웃 애니메이션을 2초 동안 적용하고, 시작과 끝에는 부드럽게 진행되도록 설정합니다. */
.chat_alarm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    animation: fadeOut 2s ease-in-out;
}

.alert_alarm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    animation: fadeOut 2s ease-in-out;
}

.chat_user_alarm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    animation: fadeOut 2s ease-in-out;
}

/*
또한, fadeOut라는 이름의 키 프레임 애니메이션을 정의하였습니다. 이 애니메이션은 opacity 속성을 이용하여 알림창의 페이드 아웃 효과를 구현합니다.
시작과 끝 지점에서 각각 opacity를 1과 0으로 설정하여 투명도가 서서히 줄어들도록 합니다.
마지막 100% 지점에서는 opacity를 0으로 설정하고 display: none을 적용하여 알림창이 완전히 사라지도록 합니다.
*/
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

/* 하위 드롭다운 메뉴 일괄 설정 */
.dropdown-menu {
    cursor: pointer;
}

/* 알림 모달창 */
.alert_modal_area {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 260px;
    left: 85.5%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #e1e1e1;
    width: 430px;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 알림 모달창 상단바 */
.alert_modal_bar {
    background-color: #dfe0f1;
    color: black;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* 알림 내역이 뜰 영역 */
.alert_list_modal_area {
    width: 100%;
    height: 94.5%;
}

/* 알림창 최상위 태그 */
.alert_root_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

/* 하나의 알림 영역 */
.alert_list {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    justify-content: space-between;
    padding: 3px 10px;
    cursor: pointer;
}

/* 알림 내용 영역 */
.alert_content_area {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    font-size: 13px;
}

/* 알림창 댓글 내용 영역 */
.reply_alert_content_area {
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    font-size: 13px;
}

/* 알림창 팔로우 내용 영역 */
.follow_alert_content_area {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

/* 알림된 피드의 이미지 */
.alert_feed_image {
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}

/* 알림창 시간과 댓글 내용 영역 */
.alert_time_reply_area {
    display: flex;
    flex-direction: row;
}

/* 알림창 댓글 내용 */
.alert_reply_content {
    color: gray;
}

/* 알림창 시간 */
.alert_time {
    color: #4e96ff;
}

/* 알림창 프로필 사진 */
.alert_profile {
    width: 40px;
    height: 40px;
    border-radius: 70%;
    overflow: hidden;
    min-width: 32px;
    min-height: 32px;
    margin-left: 10px;
}

/* 알림 모두 삭제 영역 */
.alert_all_remove {
    text-align: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top: 1px solid #d8d8d8;
    padding: 3px;
    color: lightcoral;
    font-weight: bold;
    cursor: pointer;
}

/* 알림 아이콘 */
#alert_icon {
    padding-top: 2px;
    font-size: 30px !important;
    padding-right: 20px;
    cursor: pointer;
    font-variation-settings: 'FILL' 0,
    'wght' 700,
    'GRAD' 0,
    'opsz' 48
}

.alert_is_exist {
    padding-top: 2px;
    font-size: 30px !important;
    padding-right: 20px;
    cursor: pointer;
    color: red !important;
    font-variation-settings: 'FILL' 1 !important;,
'wght' 700,
'GRAD' 0,
'opsz' 48
}

/* 팔로우 알림 영역 */
.follow_alert {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    border-bottom: 1px solid #d8d8d8;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 10px;
    cursor: pointer;
}

/* 팔로우 알림 글내용과 프로필 사진 간격 */
.follow_alert > .alert_profile {
    margin-right: 20px;
}

/* 채팅 확인 유무 */
.red-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: red;
}

/* 채팅확인 및 시간 영역 */
.alert_time_read_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

/* 나에게 온 채팅이 있는지 유무 */
.chat_is_exist {
    padding-top: 2px;
    font-size: 30px !important;
    padding-right: 20px;
    cursor: pointer;
    color: #add1ff !important;
    font-variation-settings: 'FILL' 1 !important;,
'wght' 700,
'GRAD' 0,
'opsz' 48
}