/* 모달창의 바깥 영역 */
.modal_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 10000;
}

/* 모달창의 영역 */
.modal_window {
    background: white;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 40%;
    height: 575px;
    min-width: 500px;
}

/* 피드 업로드 모달 바  */
.feed_upload_modal_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

/* 피드 업로드 모달 바 공백 */
.space {
    margin-left: 30px;
}

/* 이미지를 여기로 드래그 하세요 */
.drag_here_image {
    margin-top: 200px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    font-weight: 500;
    font-size: 19px;
}

/* 피드 업로드 모달창 이미지 업로드 버튼 */
#image_upload_btn {
    width: 130px;
    margin-top: 20px;
    font-weight: bold;
    background-color: rgb(0, 149, 246);
}

/* 피드 업로드 모달 바 닫기 버튼 */
#modal_close_button {
    cursor: pointer;
    margin-right: 10px;
}

/* 피드 업로드 모달창 이미지 영역 */
.img_upload_space {
    border-top: solid 1px #d8d8d8;
    width: 100%;
    height: 521px;
    text-align: center;
}

/* 파일 시스템 */
#input_image_upload {
    display: none;
}

/* 피드 업로드 후 텍스트 모달창 */
.feed_image_text_modal {
    border-top: solid 1px #d8d8d8;
    display: flex;
    flex-direction: row;
}

/* 두 번째 모달창 이미지 공간 */
.feed_image_text_modal > .img_upload_space {
    border-top: none;
    width: 500px;
    height: 521px;
}

/* 두 번째 모달창 글 내용 공간(부모) */
.modal_text_area {
    height: 475px;
}

/* 두 번째 모달창 글 내용 공간(자식) */
.feed_content_input {
    display: flex;
    flex-direction: column;
    border-left: solid 1px #d8d8d8;
    height: 484px;
}

/* 두 번째 모달창 글 내용 입력 창 */
#input_feed_content {
    width: 276px;
    height: 303px;
    box-shadow: none;
    border: none;
    outline: none;
}

/* 두 번째 모달창 해시태그 내용 입력 창 */
#input_feed_hashtag {
    width: 276px;
    box-shadow: none;
    border: none;
    outline: none;
}

/* 두 번째 모달창 피드 생성버튼 */
#feed_create_button {
    width: 100%;
    background-color: rgb(0, 149, 246);
}

/* 피드 모달 스크롤은 동작하지만 보이지 않게 함 */
.modal_text_area {
    -ms-overflow-style: none; /* 인터넷 익스플로러 */
    scrollbar-width: none; /* 파이어폭스 */
}

.modal_text_area::-webkit-scrollbar {
    display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

/* 피드 모달 내용 줄바꿈*/
.text_line {
    overflow-wrap: anywhere;
    margin-bottom: 0 !important;
}

/* 구글 심볼 아이콘이 true인 경우 */
.uTrue {
    cursor: pointer;
    color: rgb(0, 0, 1);
    font-size: 28px;
    font-variation-settings: 'FILL' 1,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

/* 구글 심볼 아이콘이 false인 경우 */
.uFalse {
    cursor: pointer;
    color: black;
    font-size: 28px;
    font-variation-settings: 'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48
}

/* 정유진: 피드모달 댓글들 */
.feed_modal_reply_area {
    display: flex;
    margin-bottom: 15px;
}

/* 정유진: 피드모달 댓글 프로필 이미지 공간  */
.feed_modal_reply_profile_image_area {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    min-width: 32px;
}

/* 정유진: 피드모달 댓글 닉네임, 내용 공간 */
.feed_modal_reply_nickname_content_area {
    display: flex;
    align-items: start;
}

/* 정유진: 피드모달 댓글 닉네임 공간 */
.feed_modal_reply_nickname_area {
    font-weight: bold;
    font-size: 14px;
    margin-right: 8px;
}

/* 정유진: 피드모달 댓글 내용 공간 */
.feed_modal_reply_content_area {
    font-size: 14px;
}

/* 정유진: 피드모달 댓글 프로필 이미지 */
.feed_modal_reply_profile_image {
    width: 100%;
    height: 100%;
}

/* 정유진: 피드모달 댓글 닉네임 */
.feed_modal_reply_nickname {
    padding-top: 3px;
}

/* 정유진: 피드모달 댓글 내용 */
.feed_modal_reply_content {
    padding-top: 3px;
}

/* 정유진: 피드모달 게시물 이미지 */
#feed_modal_image > img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/*  정유진: 피드모달 게시자 프로필 이미지 */
.feed_modal_profile_image > img {
    width: 100%;
    height: 100%;
}

/* 정유진: 피드모달 게시자 닉네임 */
.feed_modal_nickname > div {
    font-weight: bold;
    margin-right: 8px;
    font-size: 14px;
}

/* 정유진: 피드모달 좋아요수 */
.feed_modal_like_count {
    font-size: 14px;
}

/* 정유진: 피드모달 피드 공유 시간 */
.feed_modal_feed_create_at {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 16px;
}