/* 상단 메뉴바 팔로우 스위치 */
#follow_switch_btn {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 5px;
}

/* 상단 메뉴바 팔로우 버튼 라벨 */
#follow_btn_label {
    margin-left: 8px;
    font-weight: bold;
    padding-top: 4px;
}

/* 상단 메뉴바 언팔로우 버튼 라벨 */
#unfollow_btn_label {
    margin-left: 8px;
    font-weight: bold;
    padding-top: 4px;
}

/* 팔로우 스위치 버튼 */
.follow_switch_button {
    cursor: pointer;
}

/* 팔로우 스위치 버튼 */
.unfollow_switch_button {
    cursor: pointer;
}

/* 피드 생성 영역과 팔로우 영역 */
.main_container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    background-color: #FAFAFA
}

/* 피드들이 생성되는 공간 */
.feed_area {
    width: 480px;
    min-width: 480px;
    margin-right: 0px;
    margin-top: 30px;
}

/* 피드 박스 */
.feed_box {
    margin: 30px 0;
    border: solid 1px #e1e1e1;
    background-color: white;
    border-radius: 2%;
}

/* 피드 상단 부분 */
.feed_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

/* 피드 작성자 정보 */
.feed_user_writer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 피드 작성자 프로필 사진*/
.feed_bar > .profile_box {
    width: 35px;
    height: 35px;
}

/* 피드 작성자 닉네임 */
.feed_nickname {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* 작성자의 피드 이미지 */
.feed_writer_image {
    width: 100%;
}

/* 피드 드롭다운 메뉴 */
#dropdownMenuLink {
    color: darkgray;
}

/* 피드 하위 드롭 다운 메뉴 */
#feed_dropdown > .dropdown-menu {
    text-align: center;
    min-width: 6rem;
    border-radius: 9%
}

/* 하위 드롭다운 메뉴 일괄 설정 */
.dropdown-menu {
    cursor: pointer;
}

/* 드롭다운 삭제 관련 텍스트 일괄 설정 */
.delete_text {
    color: red;
}

/* 하위 피드 수정 메뉴 */
.update_feed {
    color: cornflowerblue !important;
    font-weight: bold !important;
}

/* 북마크와 좋아요 영역 */
.like_bookmark {
    margin: 0 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 좋아요 아이콘 */
.likeicon > .uTrue {
    color: red;
}

/* 피드 좋아요 수 */
.feed_like_count {
    margin: 4px 10px;
    text-align: left;
    font-size: 14px
}

/* 피드 작성 시간 */
.feed_create_time {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* 피드 작성 글 내용 */
.feed_writer_content {
    margin-left: 10px;
    margin-bottom: 7px;
    text-align: left;
    font-size: 14px
}

/* 해시태그와 글내용 사이 간격 */
.feed_area_hashtag_space {
    display: none
}

/* 해시태그 리스트 영역 */
.feed_area_hashtags {
    display: none;
    flex-direction: row;
    text-align: left;
    width: 100%;
    flex-flow: wrap;
}

/* 피드 내용 영역 */
#feed_more_show {
    display: flex;
}

/* 글내용 더 보기*/
.feed_content_more {
    font-size: 14px;
    color: gray;
    margin-bottom: 7px;
    cursor: pointer;
}

/* 댓글 모두 보기 */
.feed_modal {
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

/* 댓글 한 줄 영역 */
.user_reply_list_area {
    margin: 0 10px;
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 댓글 작성자 닉네임과 댓글 내용 크기 만큼의 영역 */
.user_reply {
    overflow-wrap: break-word;
}

/* 댓글 설정 주메뉴 */
#reply_delete_update_menu {
    text-align: center;
    min-width: 6rem;
    border-radius: 9%;
}

/* 댓글 드롭 다운 하위 메뉴 삭제 */
.remove_reply {
    cursor: pointer;
}

/* 댓글 수정하기 위한 텍스트박스 */
.reply_update_textbox {
    display: none;
    flex-direction: row;
    align-items: center;
}

/* 댓글 드롭 다운 수정 하기 버튼 */
#update_reply_btn {
    width: 50px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

/* 댓글 수정하기 위한 인풋 입력박스 */
.reply_update_textbox .input_reply_update {
    box-shadow: none !important;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    outline: none !important;
    background-color: white !important;
}

/* 댓글 수정 닫기 버튼 */
#reply_close_button {
    cursor: pointer;
    margin-right: 7px;
}

/* 댓글 입력하기 위한 인풋 입력 박스 */
.reply_add_textbox .input_reply_add {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: white !important;
}

/* 댓글 입력하기 위한 텍스트 박스 */
.reply_add_textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid 1px #e1e1e1;
    margin-top: 10px;
}

/* 댓글 게시 버튼 */
.upload_reply {
    width: 50px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

/* 작성자 프로필 */
.feed_writer_content > .movetoprofile {
    margin-right: 10px;
}

/* 내 프로필 표시 및 팔로우 추천 영역 */
.follow_side_area {
    width: 320px;
    height: 1000px;
    z-index: 0;
    margin-left: 100px
}

/* 내 프로필 표시 영역 */
.my_profile_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
}

/* 팔로우 영역에서의 자신 프로필 사진 */
#my_profile_image {
    width: 70px;
    height: 70px;
}

/* 팔로우 영역 닉네임 이름영역 */
.my_profile_nickname_name {
    margin-left: 20px;
    text-align: left
}

/* 팔로우 영역 닉네임 */
#my_profile_nickname {
    color: black;
    text-decoration: none
}

/* 팔로우 영역 이름 */
.my_profile_name {
    color: gray;
}

/* 팔로우 추천 시작 영역 */
.follow_recommend_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 회원님을 위한 추천 */
.follow_recommend_text {
    font-weight: bold;
    color: gray;
    margin-bottom: 10px
}

/* 팔로우 추천 리스트 모두 보기 */
.follow_recommend_list_all {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* 팔로우 추천인 프로필 영역 */
.follow_recommend_profile_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 팔로우 추천인 프로필 */
.follow_recommend_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 팔로우 추천인 프로필사진 */
#f_recommender_profile {
    width: 35px;
    height: 35px
}

/* 팔로우 추천인 프로필 닉네임 및 설명 */
.follow_profile_nickname_explain {
    margin-left: 10px;
    text-align: left;
}

/* 팔로우 추천인 프로필 닉네임 */
.follow_profile_nickname {
    font-weight: bold;
    font-size: 14px
}

/* 팔로우 추천인 이유 */
.follow_profile_explain {
    color: gray;
    font-size: 14px
}

/* 팔로우 버튼 */
.follow_button {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 149, 246);
}

/* 설명란 */
.Astro_explain1 {
    margin-top: 40px;
    font-size: 12px;
    color: gray;
    text-align: left;
}

.Astro_explain2 {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
    text-align: left;
}

/* 피드 수정 모달 수정 영역 */
.feed_image_text_modal {
    border-top: 1px solid #e1e1e1;
}

/* 세번째 피드 모달창 */
#update_feed_modal_image {
    border-top: none;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border-bottom-left-radius: 10px;
}

/* 글 내용 입력 창 */
#input_updatefeed_content {
    width: 276px;
    height: 255px;
    box-shadow: none;
    border: none;
    outline: none;
    resize: none;
}

/* 해시태그 입력 창 */
#input_updatefeed_hashtag {
    width: 276px;
    height: 160px;
    box-shadow: none;
    border: none;
    outline: none;
    resize: none;
}

/* 피드 수정버튼 */
#feed_update_button {
    width: 277px;
    background-color: rgb(0, 149, 246);
    padding-top: 9.3px;
    border-radius: 0;
    border-bottom-right-radius: 10px;
    margin-left: 0.5px;
}

/* 메인피드 카테고리 숨김 */
.feed_category {
    display: none;
    margin: 2px 0 !important;
}

/* 피드 수정하기 카테고리 메뉴 */
#input_updatefeed_category {
    width: 70px;
    text-align: center;
    text-align-last: center;
    padding: 0;
    color: gray;
}

/* 반응형 웹 */
@media (max-width: 1000px) {
    .follow_side_area {
        display: none;
    }
}


.now_img_count {
    position: center;
}

.image-slider-container {
    position: relative;
}

.feed_image_area_btns {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.prev_image_button,
.next_image_button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.prev_image_button {
    left: 5px;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.1); /*까만색(0,0,0) 80% 불투명도*/
    height: 25px;
    width: 25px;
}

.prev_image_button:hover {
    background-color: rgba(255, 255, 255, 0.6);
/ 80 % 불투명도 * / color: rgba(0, 0, 0, 1);
}

.next_image_button {
    background-color: rgba(255, 255, 255, 0.1); /*까만색(0,0,0) 80% 불투명도*/
    color: rgba(0, 0, 0, 0.6);
    background-position-x: 100px;
    right: 0;
    border-radius: 25px;
    height: 25px;
    width: 25px;
}

.next_image_button:hover {
    background-color: rgba(255, 255, 255, 0.6); /*까만색(0,0,0) 80% 불투명도*/
    color: rgba(0, 0, 0, 1);
}

/*피드 수정 에 버튼들*/
.update_feed_modal_image_btns_parent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update_feed_modal_image_file_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}
.update_feed_modal_image_update{
    order: 1;
}

.update_feed_modal_feed_image_dele {
    color: red;
    order: 2;
}

.update_feed_modal_image_btns {
    width: 100%;
}

.update_feed_modal_image_LR_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
}
/* 업데이트 피드 자우 버튼*/
.update_feed_modal_feed_image_before,
.update_feed_modal_feed_image_next {
    margin: 0;
}
#update_feed_modal_input_image_upload{
    display: none;
}
/*업데이트 자우버튼 끝*/
/*피드 이미지 카운터*/
.now_img_count {
    position: absolute;
    bottom: 10px; /* 원하는 위치로 조정 */
    left: 50%;
    transform: translateX(-50%);
    color: #d8d8d8;
    border: black;
    background-color: rgba(0, 0, 0, 0.2); /*까만색(0,0,0) 80% 불투명도*/
}