/* 상단 메뉴바 팔로우 스위치 */
#follow_switch_btn {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding-bottom: 5px;
}

/* 상단 메뉴바 팔로우 버튼 라벨 */
#follow_btn_label {
    margin-left: 8px;
    font-weight: bold;
    padding-top: 4px;
}

/* 상단 메뉴바 언팔로우 버튼 라벨 */
#unfollow_btn_label {
    margin-left: 8px;
    font-weight: bold;
    padding-top: 4px;
}

/* 피드 생성 영역과 팔로우 영역 */
.main_container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    background-color: #FAFAFA
}

/* 피드들이 생성되는 공간 */
.feed_area {
    width: 480px;
    min-width: 480px;
    margin-right: 0px;
    margin-top: 30px;
}

/* 피드 박스 */
.feed_box {
    margin: 30px 0;
    border: solid 1px #e1e1e1;
    background-color: white;
    border-radius: 2%;
}

/* 피드 상단 부분 */
.feed_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    justify-content: space-between;
}

/* 피드 작성자 정보 */
.feed_user_writer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 피드 작성자 프로필 사진*/
.feed_bar > .profile_box {
    width: 35px;
    height: 35px;
}

/* 피드 작성자 닉네임 */
.feed_nickname {
    margin-left: 10px;
}

/* 작성자의 피드 이미지 */
.feed_writer_image {
    width: 100%;
}

/* 피드 드롭다운 메뉴 */
#dropdownMenuLink {
    color: darkgray;
}

/* 피드 하위 드롭 다운 메뉴 */
#feed_dropdown > .dropdown-menu {
    text-align: center;
    min-width: 6rem;
    border-radius: 9%
}

/* 하위 드롭다운 메뉴 일괄 설정 */
.dropdown-menu {
    cursor: pointer;
}

/* 드롭다운 삭제 관련 텍스트 일괄 설정 */
.delete_text {
    color: red;
}

/* 하위 피드 수정 메뉴 */
.update_feed {
    color: cornflowerblue !important;
    font-weight: bold !important;
}

/* 북마크와 좋아요 영역 */
.like_bookmark {
    margin: 0 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 좋아요 아이콘 */
.likeicon > .uTrue {
    color: red;
}

/* 피드 좋아요 수 */
.feed_like_count {
    margin: 4px 10px;
    text-align: left;
    font-size: 14px
}

/* 피드 작성 시간 */
.feed_create_time {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
}

/* 피드 작성 글 내용 */
.feed_writer_content {
    margin-left: 10px;
    margin-bottom: 7px;
    text-align: left;
    font-size: 16px
}

/* 해시태그 부모 */
.feed_area_hashtag_space {
    display: none
}

/* 해시태그 리스트 영역 */
.feed_area_hashtags {
    display: none;
    flex-direction: row;
    text-align: left;
    width: 100%;
    flex-flow: wrap;
}

/* 해시태그 */
#hashtags_list {
    color: #0037AB;
    font-size: 14px;
    cursor: pointer;
    padding-right: 5px;
}

/* 피드 내용 더보기 영역 */
#feed_more_show {
    display: flex;
}

/* 글내용 더 보기*/
.feed_content_more {
    font-size: 14px;
    color: gray;
    margin-bottom: 7px;
    cursor: pointer;
}

/* 댓글 모두 보기 */
.feed_modal {
    font-size: 14px;
    color: gray;
    cursor: pointer;
}

/* 댓글 영역 */
.user_reply_list_area {
    margin: 0 10px;
    text-align: left;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 댓글 내용이 길어지면 줄바꿈 */
.user_reply {
    overflow-wrap: break-word;
}

/* 댓글 드롭 다운 주메뉴 */
#reply_delete_update_menu {
    text-align: center;
    min-width: 6rem;
    border-radius: 9%;
}

/* 댓글 드롭다운 하위메뉴 삭제 */
.remove_reply {
    cursor: pointer;
}

/* 댓글 수정하기 위한 텍스트박스 */
.reply_update_textbox {
    display: none;
    flex-direction: row;
    align-items: center;
}

/* 댓글 수정하기 버튼 */
#update_reply_btn {
    width: 50px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

/* 댓글 수정하기 위한 인풋 입력박스 */
.reply_update_textbox .input_reply_update {
    box-shadow: none !important;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    outline: none !important;
    background-color: white !important;
}

/* 댓글 수정 닫기 버튼 */
#reply_close_button {
    cursor: pointer;
    margin-right: 7px;
}

/* 댓글 입력하기 위한 인풋 입력 박스 */
.reply_add_textbox .input_reply_add {
    box-shadow: none !important;
    border: none !important;
    outline: none !important;
    background-color: white !important;
}

/* 댓글 입력하기 위한 텍스트 박스 */
.reply_add_textbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: solid 1px #e1e1e1;
    margin-top: 10px;
}

/* 댓글 게시 버튼 */
.upload_reply {
    width: 50px;
    color: cornflowerblue;
    font-weight: bold;
    cursor: pointer;
}

/* 작성자 프로필 */
.feed_writer_content > .movetoprofile {
    margin-right: 10px;
}

/* 내 프로필 표시 및 팔로우 추천 영역 */
.follow_side_area {
    width: 320px;
    height: 1000px;
    z-index: 0;
    margin-left: 100px
}

/* 내 프로필 표시 영역 */
.my_profile_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
}

/* 팔로우 영역에서의 자신 프로필 사진 */
#my_profile_image {
    width: 70px;
    height: 70px;
}

/* 팔로우 영역 닉네임 이름 */
.my_profile_nickname_name {
    margin-left: 20px;
    text-align: left
}

/* 팔로우 영역 닉네임 */
#my_profile_nickname {
    color: black;
    text-decoration: none
}

/* 팔로우 영역 이름 */
.my_profile_name {
    color: gray;
}

/* 팔로우 추천 시작 영역 */
.follow_recommend_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* 회원님을 위한 추천 */
.follow_recommend_text {
    font-weight: bold;
    color: gray;
    margin-bottom: 10px
}

/* 팔로우 추천 리스트 모두 보기 */
.follow_recommend_list_all {
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/* 팔로우 추천인 프로필 영역 */
.follow_recommend_profile_area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 팔로우 추천인 프로필 */
.follow_recommend_profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* 팔로우 추천인 프로필사진 */
#f_recommender_profile {
    width: 35px;
    height: 35px
}

/* 팔로우 추천인 프로필 닉네임 및 설명 */
.follow_profile_nickname_explain {
    margin-left: 10px;
    text-align: left;
}

/* 팔로우 추천인 프로필 닉네임 */
.follow_profile_nickname {
    font-weight: bold;
    font-size: 14px
}

/* 팔로우 추천인 이유 */
.follow_profile_explain {
    color: gray;
    font-size: 14px
}

/* 팔로우 버튼 */
.follow_button {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 149, 246);
}

/* 설명란 */
.Astro_explain1 {
    margin-top: 40px;
    font-size: 12px;
    color: gray;
    text-align: left;
}

.Astro_explain2 {
    margin-top: 20px;
    font-size: 12px;
    color: gray;
    text-align: left;
}

/* 피드 수정 모달 수정 영역 */
.feed_image_text_modal {
    border-top: 1px solid #e1e1e1;
}