/* 회원가입 창 */
.border_outline {
    padding: 20px;
    text-align: center;
    border: solid 1px rgba(219, 219, 219, 1);
    width: 350px;
    height: 435px!important;
    margin-top: 90px !important;
    background: white;
}


/* 이름 입력 박스 */
#join_name_box {
    display: flex;
    justify-content: center;
}

/* 이름 입력란 */
#input_name {
    font-size: 14px;
    width: 90%;
    height: 40px;
    background: #FAFAFA;
    box-shadow: none !important;
    outline: none !important;
}

/* 이름 플로팅라벨 */
#name_error {
    font-size: 12px;
    width: 100%;
    padding: 8px 25px;
    text-align: left;
    color: gray;
}

/* 닉네임 입력 박스 */
#join_nickname_box {
    display: flex;
    justify-content: center;
}

/* 닉네임 입력란 */
#input_nickname {
    font-size: 14px;
    width: 90%;
    height: 40px;
    background: #FAFAFA;
    box-shadow: none !important;
    outline: none !important;
}

/* 닉네임 플로팅라벨 */
#nickname_error {
    font-size: 12px;
    width: 100%;
    padding: 8px 25px;
    text-align: left;
    color: gray;
}