@charset "UTF-8";

/* 페이지를 전체 영역으로 확장 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 텍스트 박스 하이라이트 제거 */
textarea {
	outline: none;
	resize: none;
}

/* input태그 하이라이트 제거 */
input:focus {
	box-shadow: none !important;
    outline: none !important;
}

/* 링크태그 밑줄 제거 */
a {
	text-decoration: none !important;
}


/* 사이드 네비바 */
.side_navbar {
	height: 100%;
	width: 260px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 15px;
	background-color: white;
	border-right: 1px solid #d3d3d3;
}

/* 사이드 네비바의 메뉴 */
.side_navbar a {
	padding: 8px 16px 8px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

/* 네비바 메뉴 아이콘 */
.material-symbols-outlined {
	font-size: 32px !important;
	color: black;
}

/* 네비바 로고 */
.navbar_logo {
	width: 200px;
	height: 70px;
	margin: 5px;
	padding: 5px;
	margin-bottom: 15px;
}

/* 네비바 메뉴 간격 및 배치 */
.navbar_menu_pos {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px;
	width: 100%;
}

/*  네비바 메뉴의 텍스트 */
.navbar_menu_text {
	padding-bottom: 3px;
	padding-left: 20px;
}