@charset "UTF-8";

/* 메인화면 최상위 태그 */
.main_root_content {
	display: flex;
	justify-content: center;
	width: 82%;
	height: 100%;
	margin: 0px 0px 0px 260px;
	padding-top: 20px;
}

/* 메인 피드가 세로로 정렬될 영역 */
.main_feed_area {
	width: 500px;
	min-width: 500px;	
}

/* 메인 피드 테두리  */
.main_feed_outline {
	border: 1px solid #d3d3d3;
	border-radius: 2%;
	margin-bottom: 40px;
}

/* 메인 피드 상단 부분 */
.main_feed_Top {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 62px;
	border-bottom: 1px solid #d3d3d3;
}

/* 메인 피드 상단 유저 정보 부분 */
.main_feed_user_profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 240px;
}

/* 메인 피드 유저 프로필 사진 박스 */
.main_feed_user_profile_image_box {
	width: 32px;
	height: 32px;
	border-radius: 70%;
	overflow: hidden;
	min-width: 32px;
	min-height: 32px;
	margin: 0 14px;
}

/* 메인 피드 유저 프로필 사진 */
.main_feed_user_profile_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

/* 메인 피드 수정 삭제 드롭다운 메뉴 영역 */
.main_feed_update_menu {
	display: flex;
	align-items: center;
	margin-right: 20px;
}

/* 메인 피드 수정 삭제 드롭다운 메뉴 */
.drop_menu {
	color: gray !important;
}


/* 메인 피드 이미지 */
.main_feed_image {
	width: 100%;
	object-fit: cover
}

/* 메인 피드 아이콘 영역 */
.main_feed_icon_area {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px;
}

/* 메인 피드 아이콘 */
.main_feed_icon {
	font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' -25, 'opsz' 48;
}

/* 메인 피드 좋아요 수 */
.main_feed_like_count {
	font-size: 14px;
	margin: 5px 10px;
}

/* 메인 피드 글 내용 */
.main_feed_text_content {
	display: flex;
	font-size: 14px;
	flex-direction: row;
	margin: 10px 10px;
}

/* 메인 피드 유저 이름 */
.main_feed_user_name {
	font-weight: bold;
	white-space: nowrap;
	margin-right: 5px;
}

/* 메인 피드 댓글 */
.main_feed_reply {
	font-size: 14px;
	color: gray;
	margin: 10px 10px;
}

/* 메인 피드 작성시간 */
.main_feed_time {
	font-size: 14px;
	color: darkgray;
	margin: 5px 10px;
}

/* 메인 피드 댓글 입력 영역 */
.main_feed_reply_text_area {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 5px;
}

/* 메인 피드 댓글 입력 영역 */
.main_feed_reply_text_box {
	border: none;
	border-top: 1px solid #d3d3d3; 
	width: 100%;
	font-size: 16px
}

/* 메인 피드 댓글 입력 영역 안내말 */
.main_feed_reply_text_box::placeholder  {
	font-size: 14px
}

/* 메인 피드 댓글 입력 영역 */
.main_feed_reply_upload_btn {
	display: none;
}