<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!-- css 분리 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/allsame.css' %}?ver=1">
    <!--  jQuery를 사용하기 위한 선언  -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <title>Title</title>
</head>
<body>

<!-- 채팅 가능한 유저 목록 리스트 -->
<div class="chat_user_list_modal_area">
    {% for user in chat_user %}
        <!-- 채팅할 유저 한명 영역 -->
        <div class="chat_user_list_area" user_email="{{ user.email }}"
             onclick="open_article2('/user/chatting', this.getAttribute('user_email'));">
            <!-- 유저의 프로필과 마지막 채팅 영역 -->
            <div class="profile_and_chat_area">
                <!-- 유저 프로필 사진 영역 -->
                <div class="profile_box">
                    <img class="profile"
                         src="{% get_media_prefix %}{{ user.profile_image }}" alt="text">
                </div>
                <!-- 유저의 닉네임과 마지막 채팅 영역 -->
                <div class="chat_nick_name_area">
                    <!-- 유저 닉네임 -->
                    <div class="chat_nickname">{{ user.nickname }}</div>
                    <!-- 마지막으로 보낸 채팅 영역 -->
                    {% for chat in send_chat_list %}
                        {% if chat.send_user_chat.send_user == user.email %}
                            <span class="send_user_chat">{{ chat.send_user_chat.chat_content }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- 마지막으로 보낸 채팅의 시간 영역 -->
            <div>
                {% for chat in send_chat_list %}
                    {% if chat.send_user_chat.send_user == user.email %}
                        <div class="send_chat_time">{{ chat.send_user_chat.send_time }}</div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<script src="{% static 'js/allsame.js' %}?ver=1"></script>
</body>
</html>